
@{
    ViewBag.Title = "customerSatisfaction";
    ViewBag.ChineseTitleName = "顧客滿意度";
}

<!--此頁加入的css-->
<link href="~/css/customerTab.css" rel="stylesheet" />
<link href="~/css/customerSatisfaction.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

<div class="col-md-7">
    <div id="aspect-content">
        <!--tab1-->
        <div class="aspect-tab ">
            <input id="item-1" type="checkbox" class="aspect-input" name="aspect">
            <label for="item-1" class="aspect-label"></label>
            <div class="aspect-content">
                <!--左邊-桌號+百分比-->
                <div class="aspect-info">
                    <!--百分比圖表-->
                    <div id="demo-pie-1" class="pie-title-center chart-content" data-percent="50"> <span class="pie-value"></span> </div>

                    <span class="aspect-name">桌號：12</span>
                </div>
                <!--右邊-人數-->
                <div class="aspect-stat">
                    <div class="all-opinions">
                        <span class="all-opinions-count">4</span>
                        <span>位</span>
                    </div>
                    <div>
                        <span class="positive-count">2</span>
                        <span class="neutral-count">1</span>
                        <span class="negative-count">1</span>
                    </div>
                </div>
            </div>
            <!--start tabs展開後的內容-->
            <div class="aspect-tab-content">
                <div class="in-out-time col-md-12">
                    <div class="col-md-6"><span>進場時間：&nbsp;</span><span>12:47</span></div>
                    <div class="col-md-6"><span>離場時間：&nbsp;</span><span>15:34</span></div>
                </div>
                <!--start 偵測到的大圖-->
                <div class="full-img-row">
                    <div class="detect-full-img">
                        <img src="~/detectImg/a1.jpg" />
                    </div>
                </div>
                <!--//end 偵測到的大圖-->
                <!--start 偵測到的小圖-->
                <div class="sentiment-wrapper">
                    <div>
                        <div class="col-md-4">
                            <div class="positive-count opinion-header">
                                <span>滿意</span>
                                <span>2</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="neutral-count opinion-header">
                                <span>普通</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/1.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="negative-count opinion-header">
                                <span>不滿意</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/2.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--//end 偵測到的小圖-->
            </div>
            <!--//end tabs展開後的內容-->
        </div>
        <!--tab2-->
        <div class="aspect-tab ">
            <input id="item-2" type="checkbox" class="aspect-input" name="aspect">
            <label for="item-2" class="aspect-label"></label>
            <div class="aspect-content">
                <!--左邊-桌號+百分比-->
                <div class="aspect-info">
                    <!--百分比圖表-->
                    <div id="demo-pie-2" class="pie-title-center chart-content" data-percent="66.67"> <span class="pie-value"></span> </div>

                    <span class="aspect-name">桌號：4</span>
                </div>
                <!--右邊-人數-->
                <div class="aspect-stat">
                    <div class="all-opinions">
                        <span class="all-opinions-count">3</span>
                        <span>位</span>
                    </div>
                    <div>
                        <span class="positive-count">2</span>
                        <span class="neutral-count">1</span>
                        <span class="negative-count">0</span>
                    </div>
                </div>
            </div>
            <!--start tabs展開後的內容-->
            <div class="aspect-tab-content">
                <div class="in-out-time col-md-12">
                    <div class="col-md-6"><span>進場時間：&nbsp;</span><span>11:55</span></div>
                    <div class="col-md-6"><span>離場時間：&nbsp;</span><span>13:12</span></div>
                </div>
                <!--start 偵測到的大圖-->
                <div class="full-img-row">
                    <div class="detect-full-img">
                        <img src="~/detectImg/a1.jpg" />
                    </div>
                </div>
                <!--//end 偵測到的大圖-->
                <!--start 偵測到的小圖-->
                <div class="sentiment-wrapper">
                    <div>
                        <div class="col-md-4">
                            <div class="positive-count opinion-header">
                                <span>滿意</span>
                                <span>2</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="neutral-count opinion-header">
                                <span>普通</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/1.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="negative-count opinion-header">
                                <span>不滿意</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/2.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--//end 偵測到的小圖-->
            </div>
            <!--//end tabs展開後的內容-->
        </div>
        <!--tab3-->
        <div class="aspect-tab ">
            <input id="item-3" type="checkbox" class="aspect-input" name="aspect">
            <label for="item-3" class="aspect-label"></label>
            <div class="aspect-content">
                <!--左邊-桌號+百分比-->
                <div class="aspect-info">
                    <!--百分比圖表-->
                    <div id="demo-pie-3" class="pie-title-center chart-content" data-percent="100"> <span class="pie-value"></span> </div>

                    <span class="aspect-name">桌號：2</span>
                </div>
                <!--右邊-人數-->
                <div class="aspect-stat">
                    <div class="all-opinions">
                        <span class="all-opinions-count">2</span>
                        <span>位</span>
                    </div>
                    <div>
                        <span class="positive-count">2</span>
                        <span class="neutral-count">0</span>
                        <span class="negative-count">0</span>
                    </div>
                </div>
            </div>
            <!--start tabs展開後的內容-->
            <div class="aspect-tab-content">
                <div class="in-out-time col-md-12">
                    <div class="col-md-6"><span>進場時間：&nbsp;</span><span>11:47</span></div>
                    <div class="col-md-6"><span>離場時間：&nbsp;</span><span>14:12</span></div>
                </div>
                <!--start 偵測到的大圖-->
                <div class="full-img-row">
                    <div class="detect-full-img">
                        <img src="~/detectImg/a1.jpg" />
                    </div>
                </div>
                <!--//end 偵測到的大圖-->
                <!--start 偵測到的小圖-->
                <div class="sentiment-wrapper">
                    <div>
                        <div class="col-md-4">
                            <div class="positive-count opinion-header">
                                <span>滿意</span>
                                <span>2</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="neutral-count opinion-header">
                                <span>普通</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/1.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="negative-count opinion-header">
                                <span>不滿意</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/2.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--//end 偵測到的小圖-->
            </div>
            <!--//end tabs展開後的內容-->
        </div>

        <!--tab4-->
        <div class="aspect-tab ">
            <input id="item-4" type="checkbox" class="aspect-input" name="aspect">
            <label for="item-4" class="aspect-label"></label>
            <div class="aspect-content">
                <!--左邊-桌號+百分比-->
                <div class="aspect-info">
                    <!--百分比圖表-->
                    <div id="demo-pie-4" class="pie-title-center chart-content" data-percent="50"> <span class="pie-value"></span> </div>

                    <span class="aspect-name">桌號：6</span>
                </div>
                <!--右邊-人數-->
                <div class="aspect-stat">
                    <div class="all-opinions">
                        <span class="all-opinions-count">4</span>
                        <span>位</span>
                    </div>
                    <div>
                        <span class="positive-count">2</span>
                        <span class="neutral-count">2</span>
                        <span class="negative-count">0</span>
                    </div>
                </div>
            </div>
            <!--start tabs展開後的內容-->
            <div class="aspect-tab-content">
                <div class="in-out-time col-md-12">
                    <div class="col-md-6"><span>進場時間：&nbsp;</span><span>11:32</span></div>
                    <div class="col-md-6"><span>離場時間：&nbsp;</span><span>14:02</span></div>
                </div>
                <!--start 偵測到的大圖-->
                <div class="full-img-row">
                    <div class="detect-full-img">
                        <img src="~/detectImg/a1.jpg" />
                    </div>
                </div>
                <!--//end 偵測到的大圖-->
                <!--start 偵測到的小圖-->
                <div class="sentiment-wrapper">
                    <div>
                        <div class="col-md-4">
                            <div class="positive-count opinion-header">
                                <span>滿意</span>
                                <span>2</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="neutral-count opinion-header">
                                <span>普通</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/1.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="negative-count opinion-header">
                                <span>不滿意</span>
                                <span>1</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/2.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--//end 偵測到的小圖-->
            </div>
            <!--//end tabs展開後的內容-->
        </div>

        <!--tab5-->
        <div class="aspect-tab ">
            <input id="item-5" type="checkbox" class="aspect-input" name="aspect">
            <label for="item-5" class="aspect-label"></label>
            <div class="aspect-content">
                <!--左邊-桌號+百分比-->
                <div class="aspect-info">
                    <!--百分比圖表-->
                    <div id="demo-pie-5" class="pie-title-center chart-content" data-percent="100"> <span class="pie-value"></span> </div>

                    <span class="aspect-name">桌號：10</span>
                </div>
                <!--右邊-人數-->
                <div class="aspect-stat">
                    <div class="all-opinions">
                        <span class="all-opinions-count">3</span>
                        <span>位</span>
                    </div>
                    <div>
                        <span class="positive-count">3</span>
                        <span class="neutral-count">0</span>
                        <span class="negative-count">0</span>
                    </div>
                </div>
            </div>
            <!--start tabs展開後的內容-->
            <div class="aspect-tab-content">
                <div class="in-out-time col-md-12">
                    <div class="col-md-6"><span>進場時間：&nbsp;</span><span>11:15</span></div>
                    <div class="col-md-6"><span>離場時間：&nbsp;</span><span>13:11</span></div>
                </div>
                <!--start 偵測到的大圖-->
                <div class="full-img-row">
                    <div class="detect-full-img">
                        <img src="~/detectImg/a1.jpg" />
                    </div>
                </div>
                <!--//end 偵測到的大圖-->
                <!--start 偵測到的小圖-->
                <div class="sentiment-wrapper">
                    <div>
                        <div class="col-md-4">
                            <div class="positive-count opinion-header">
                                <span>滿意</span>
                                <span>3</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                                <img class="detect-part-img" src="~/detectImg/0.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="neutral-count opinion-header">
                                <span>普通</span>
                                <span>0</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/1.jpg" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="negative-count opinion-header">
                                <span>不滿意</span>
                                <span>0</span>
                            </div>
                            <div>
                                <img class="detect-part-img" src="~/detectImg/2.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--//end 偵測到的小圖-->
            </div>
            <!--//end tabs展開後的內容-->
        </div>
    </div>
</div>

<!--start 圖表 Bar-->
<div class="col-md-5">
    <div class="whiteCard-pannel">
        <div class="grid-1">
            <h4>本月滿意度</h4>
            <div class="barChart">
                <canvas id="customerBar"></canvas>
            </div>

            <script>
                var ctx = document.getElementById('customerBar').getContext('2d');


                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['滿意', '普通', '不滿意'],
                        datasets: [{
                            label: '',
                            data: [88, 40, 11],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        //圖例區----------------
                        legend: {
                            display: false
                        },


                        scales: {
                            xAxes: [{

                            }],


                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            </script>
        </div>


    </div>

</div>
<!--//end 圖表 Bar-->
<!---->
<div class="content-mid">

    <!--內容2-->
    <div class="clearfix"> </div>
</div>
<!----->
<div class="content-bottom">

    <!--內容3-->

    <div class="clearfix"> </div>
</div>

<!--此頁面的js-->
<!--pie-chart--->
<script>

    $(document).ready(function () {
        $('#demo-pie-1').pieChart({
            barColor: '#7ED321',
            trackColor: '#eee',
            lineCap: 'round',
            lineWidth: 8,
            size: 65,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-2').pieChart({
            barColor: '#7ED321',
            trackColor: '#eee',
            lineCap: 'butt',
            lineWidth: 8,
            size: 65,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-3').pieChart({
            barColor: '#7ED321',
            trackColor: '#eee',
            lineCap: 'square',
            lineWidth: 8,
            size: 65,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-4').pieChart({
            barColor: '#7ED321',
            trackColor: '#eee',
            lineCap: 'square',
            lineWidth: 8,
            size: 65,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });

        $('#demo-pie-5').pieChart({
            barColor: '#7ED321',
            trackColor: '#eee',
            lineCap: 'square',
            lineWidth: 8,
            size: 65,
            onStep: function (from, to, percent) {
                $(this.element).find('.pie-value').text(Math.round(percent) + '%');
            }
        });
    });

</script>