
@{
    ViewBag.Title = "Region";
}

<div class="banner">
    <h2>
        <a href="~/Home/Index">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>區域熱度</span>
    </h2>
</div>

<div class="content-top">
    <div class="col-md-12">
        <div class="content-top-1">
            <div class="top-content1">
                <h2>Low consecrate know calm gathered from upon her revel it saw drop nine present had since by aye massy sing it harolds whateer would through earthly deadly cared third that to fly mine haply he begun blazon to to him he scorching high their his sins vaunted way flow scene a bacchanals rill made though and at dares so each his that most seraphs but fathers was long delphis had or deigned from wassailers where once tis in start to ne present a know passed scorching mighty it cheer crime loved a or revel heralds he could crime ear scorching</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

