
@{
    ViewBag.Title = "Region";
    ViewBag.ChineseTitleName = "區域熱度";
}
<link href="~/css/Region.css" rel="stylesheet" />

<div>
    <div class="col-md-7">
        <div class="whiteCard-pannel">
            <div id="legend">
                <span class="legend-title">地區銷售額</span><span class="legend-unit">(單位：元)</span>
            </div>

            <div>
                <!--d3的台灣地圖-->
                <div id="region"></div>
            </div>

            <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>
    </div>
    <div class="col-md-5">
        <div id="ranking" class="whiteCard-pannel">
            <div class="legend-title">地區銷售額佔比</div><span class="legend-unit">(單位：元)</span>
            <table class="area-table table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>北部</th>
                        <th>中部</th>
                        <th>南部</th>
                        <th>東部</th>
                        <th>外島</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>40675</td>
                        <td>41659</td>
                        <td>3376</td>
                        <td>725</td>
                        <td>567</td>
                    </tr>
                    <tr>
                        <td>36%</td>
                        <td>37%</td>
                        <td>20%</td>
                        <td>14%</td>
                        <td>13%</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
<div class="clearfix"></div>

<!--縣市邊界顏色-->
<style>
    .boundary {
        fill: none;
        stroke: #FFD306;
        stroke-dasharray: 5, 0;
        stroke-linejoin: round;
    }
</style>

<script>




    // 參數設定
    var param = {
        // svg 大小
        width: 800,
        height: 500,
        // 中心位置(經緯度)
        center: [122, 23.5],

        // 地圖縮放
        scale: 7000,

        // 可自由增減數量
        // 資料級距
        domain: [20000,60000],
        // 級距顏色
        coloreRange: ["#FFCCCC", "#FF0000"],
        hover: "#FFDC35",
        // tooltips 與滑鼠的距離
        tooltipsX: 20,
        tooltipsY: -20
    }

    //如果視窗<=768時---------------
    if ($(window).width() < 769) {
        param.center = [123.2, 23.6];
        param.scale = 6000;
    }

    //如果視窗<=375時---------------
    if ($(window).width() < 376) {
        param.center = [125, 23];
        param.scale = 4000;
    }

    var data = JSON.parse('@Html.Raw(TempData["RegionSales"])')

    var color = d3.scaleLinear()
        .domain(param.domain)
        .range(param.coloreRange)

    $(function () {
        // tooltip
        var tooltip = d3.select('body').append('div')
            .attr('id', 'tooltip')
            .style('position', 'absolute')
            // z軸，數字越大顯示在越前面
            .style('z-index', '100')
            .style('visibility', 'hidden')
            .style('background-color', '#00DDAA')
            // tooltip 內顯示文字
            .text('sample tooltip');

        // 圖例
        d3.select('#legend').append('svg')
            .attr('width', param.width)
            .attr('height', 60)
            .attr('id', 'legendSvg')

        var svgLegend = d3.select('#legendSvg')

        svgLegend.append('g')
            .attr('class', 'legend')
            .attr('transform', 'translate(20, 20)')

        var legend = d3.legendColor()
            .shapeWidth(60)
            .orient('horizontal')
            .scale(color)

        svgLegend.select('.legend')
            .call(legend)


        // 地圖
        var svg = d3.select("#region").append("svg")
            .attr("width", param.width)
            .attr("height", param.height)
            .attr('id', 'mapSvg')


        // 地圖投影設定
        var projection = d3.geoMercator()
            .center(param.center)
            .scale(param.scale);
        var path = d3.geoPath()
            .projection(projection);
        // 讀取地圖資料
        var url = "https://raw.githubusercontent.com/shadowkai0121/myNotes/master/JavaScript/D3/TaiwanMap/taiwan.json";
        d3.json(url).then(function (topology) {
            svg.append("g")
                .attr('class', 'map')
            // objects 後面參數參考topojson內的object欄位
            var features = topojson.feature(topology, topology.objects.County_MOI_1060525).features

            // 縣市/行政區界線
            d3.select("#mapSvg").append("path").datum(
                topojson.mesh(topology,
                    topology.objects["County_MOI_1060525"],
                    function (a,
                        b) {
                        return a !== b;
                    })).attr("d", path)
                .attr("class", "boundary");

            // 寫入資料庫
            for (i = features.length - 1; i >= 0; i--) {
                features[i].properties.money = data[features[i].properties.COUNTYNAME];
            }

            d3.select(".map").selectAll("path")
                .data(features)
                .enter()
                .append("path")
                .attr('d', path)
                .attr('name', function (d) { return d.properties.COUNTYNAME })
                .attr('fill', function (d) { return color(d.properties.money) })
                .on('mouseover', function (d){
                    d3.select(this).attr('fill', param.hover);
                    tooltip.style('visibility', 'visible');
                    tooltip.text(d.properties.COUNTYNAME + ", " + d.properties.money + "元");
                })
                .on('mousemove', function (d) {
                    tooltip.style("top", (event.pageY + param.tooltipsY) + "px").style("left", (event.pageX + param.tooltipsX) + "px");
                })
                .on('mouseout', function () {
                    d3.select(this).attr('fill',
                        function (d) { return color(d.properties.money) });
                    tooltip.style('visibility', 'hidden');
                })
        });
    })
</script>
